body {
    margin: 0px;
}

#bannerSuperior {
    min-height: 15%;
    max-height: 15%;
    min-width: 100%;
    max-width: 100%;
    background-color: #cd171e;
}

.col {
    float: left;
}

.col-logo {
    min-width:10%; 
    max-width: 10%; 
    min-height: 15%;
    max-height: 15%; 
    text-align: center;
}

.logo {
    height: 15%;
}

#reloj {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5vh;
    color: white;
    margin-left: 48%;
    margin-top: 1%;
    text-align: right;
}

#bannerLateral {
    min-height: 70%;
    max-height: 70%;
    min-width: 20%;
    max-width: 20%;
    background-color: #FAECD6;
}

#textoLateral {
    margin: 10%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
}

#bannerPrincipal {
    min-height: 70%;
    max-height: 70%;
    min-width: 80%;
    max-width: 80%;
    position: relative;
    overflow: hidden;
    background-color: #FAECD6;
}

#bannerPrincipal img {
    width: 100%;
    height: 70%;
    object-fit: fill;
}

@keyframes animacionAnuncio {
    0% {
        opacity:0;
    }
    5% {
        opacity: 0.75;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
    }
}
  
#bannerPrincipal img#anuncioMultimedia {
    animation-name: animacionAnuncio;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

#bannerInferior {
    min-height: 15%;
    max-height: 15%;
    min-width: 100%;
    max-width: 100%;
    background-color: #F2DEBA;
    position: absolute;
    bottom: 0;
}

#textoInferior {
    margin-left: 7.5%; 
    margin-right: 7.5%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
}
